#root {
  background-color: #f64768;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "Dangrek", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.brand-cocktail {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

